<footer class="bg-yellow-200 p-4 mt-2">
	<div class="container mx-auto text-center">
		<p class="text-gray-700">
			&copy; Our Project Name. All rights reserved.
		</p>

		<div class="mt-4">
			<a href="#" class="text-gray-700 hover:text-gray-900 mx-2"
				>Facebook</a
			>
			<a href="#" class="text-gray-700 hover:text-gray-900 mx-2"
				>Twitter</a
			>
			<a href="#" class="text-gray-700 hover:text-gray-900 mx-2"
				>Instagram</a
			>
		</div>
	</div>
</footer>
