<footer class="bg-yellow-200 p-4 mt-2">
	<div class="container mx-auto text-center">
		<p class="text-gray-700">
			&copy; Our Project Name. All rights reserved.
		</p>

		<!-- Add FAQs and Contact Us links here -->
		<div class="mt-4">
			<a href="/faq" class="text-gray-700 hover:text-gray-900 mx-2">FAQs</a>
			<a href="/contact" class="text-gray-700 hover:text-gray-900 mx-2">Contact Us</a>
		</div>

		<div class="mt-4">
      <a href="#" class="text-gray-700 hover:text-gray-900 mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="text-gray-700 hover:text-gray-900 mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="text-gray-700 hover:text-gray-900 mx-2">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
	</div>
</footer>
