<!-- THIS VIEW IS CURRENTLY NOT USED. MOVED TO CATEGORYMARKET.EJS -->
<!-- Essentials Category Page (Product Page Specified)-->
<h2 class="text-2xl font-bold">Essentials</h2>
<div class="flex justify-around my-8">
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 1</p>
    </div>
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 2</p>
    </div>
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 3</p>
    </div>
</div>

<div class="flex justify-around my-8">
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 4</p>
    </div>
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 5</p>
    </div>
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 6</p>
    </div>
</div>

<div class="flex justify-around my-8">
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 7</p>
    </div>
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 8</p>
    </div>
    <div class="w-1/3 bg-gray-200 p-4 text-center">
        <div class="h-32 bg-gray-400 mb-4"></div>
        <p>Essentials Item 9</p>
    </div>
</div>