<div class="max-w-4xl mx-auto mt-10">
	<h1 class="text-3xl font-bold text-center mb-6">FAQs</h1>
	<div class="space-y-6">
		<!-- General Questions -->
		<h2 class="text-2xl font-semibold">General Questions</h2>
		<div>
			<h3 class="text-xl font-bold">1. What is this platform about?</h3>
			<p>
				Our platform allows individuals to trade, donate, or purchase
				used goods, specifically catering to those who are financially
				disadvantaged, providing them access to essential items at
				affordable prices.
			</p>
		</div>
		<div>
			<h3 class="text-xl font-bold">2. How does this platform work?</h3>
			<p>
				Users can list items they want to sell, trade, or donate. Buyers
				can browse and purchase these items at affordable prices. Donors
				can also list items they wish to give away to those in need.
			</p>
		</div>

		<!-- Account Management -->
		<h2 class="text-2xl font-semibold">Account Management</h2>
		<div>
			<h3 class="text-xl font-bold">1. How do I create an account?</h3>
			<p>
				Click on the "Sign Up" button on the home page and fill in the
				required information. You can also sign up using your Google or
				Facebook account.
			</p>
		</div>
		<div>
			<h3 class="text-xl font-bold">
				2. I forgot my password. What should I do?
			</h3>
			<p>
				Click on the "Forgot Password" link on the login page and follow
				the instructions to reset your password.
			</p>
		</div>
		<div>
			<h3 class="text-xl font-bold">
				3. How do I update my profile information?
			</h3>
			<p>
				Go to your user dashboard and click on "Profile Settings" to
				update your personal information.
			</p>
		</div>
	</div>
</div>
