<!-- Sell Product Page -->
<div class="flex items-center justify-center mt-10">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Sell Product</h1>

        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
            </div>
            <% }) %>
        <% } %>

        <form action="/sell" method="POST" enctype="multipart/form-data">
            Product Name: <input type="text" name="productname" class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
            <br><br>
            Category: <select name="category" class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
                <option value="" disabled selected>Select a category</option>
                <option value="Essentials">Essentials</option>
                <option value="Household Items">Household Items</option>
                <option value="Electronics">Electronics</option>
                <option value="Others">Others</option>
            </select>
            <br><br>
            Price: <input type="number" name="price" class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
            <br><br>
            Description: <textarea name="description" rows="10" cols="50" class="border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"></textarea>
            <br><br>
            Product Photo: <input type="file" id="image" name="image" accept="image/*" required>
            <div id="preview">
                <img id="previewImage" src="" alt="" style="width: 300px;height: 300px;">
            </div>
            <script>
                // JavaScript to handle image preview
                document.getElementById('image').addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            document.getElementById('previewImage').src = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    } else {
                        // Clear the image preview if no file is selected
                        document.getElementById('previewImage').src = '';
                    }
                });
            </script>
            <br><br>
            <input type="submit" value="Sell Product" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 w-full">
    </div>
</div>